name: rfid_zebra_reader
version: 0.0.1
description: "plugin to interact with Zebra RFID readers"
homepage: https://github.com/devJimmy990/rfid_zebra_reader

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"


dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  plugin:
    platforms:
      android:
        package: dev.jimmy.rfid_zebra_reader
        pluginClass: RfidZebraReaderPlugin